- $onlinenews = "var$onlinenews";
/ HEADER
- $logo = "http://www.confortetvie.fr/fr/index.aspx?utm_source=NL&utm_medium=email&utm_content=logo&utm_campaign=0515_cata";
- $cat = "http://www.confortetvie.fr/cat/fr/ECatalog.htm?utm_source=NL&utm_medium=email&utm_content=e-cata&utm_campaign=0515_cata";
- $nav = ["http://www.confortetvie.fr/fr/confort-bien-etre/Univers.html","http://www.confortetvie.fr/fr/idees-vie-facile/Univers.html","http://www.confortetvie.fr/fr/nuit-relax/Univers.html","http://www.confortetvie.fr/fr/vetements-accessoires/Univers.html"];
/ GIFT
- $gift = ["http://www.confortetvie.fr/fr/animation/presentation-cadeaux.aspx?utm_source=NL&utm_medium=email&utm_content=kdos&utm_campaign=0515_cata"];
/ PCK
- $pckx3 = ["http://www.confortetvie.fr/fr/confort-bien-etre/beaute/vernis-velvet-diamond-abricot/5430327.html?utm_source=NL&utm_medium=email&utm_content=pdt&utm_campaign=0515_cata","http://www.confortetvie.fr/fr/confort-bien-etre/complements-alimentaires/gommes-leone-balsamique-42-gr/6060321.html?utm_source=NL&utm_medium=email&utm_content=pdt&utm_campaign=0515_cata","http://www.confortetvie.fr/fr/vetements-accessoires/chaussons/pantoufles-spa-taille-36-37/2167138.html?utm_source=NL&utm_medium=email&utm_content=pdt&utm_campaign=0515_cata"];
- $pckx2 = ["http://www.confortetvie.fr/fr/vetements-accessoires/sacs/mini-sac-effet-tresse/6010326.html?utm_source=NL&utm_medium=email&utm_content=pdt&utm_campaign=0515_cata","http://www.confortetvie.fr/fr/confort-bien-etre/toilettes-wc/meuble-organiseur-toilette/4788220.html?utm_source=NL&utm_medium=email&utm_content=pdt&utm_campaign=0515_cata"];
/ FOOTER
- $fURL       = "http://www.confortetvie.fr/fr/index.aspx?utm_source=NL&utm_medium=email&utm_content=URL&utm_campaign=0515_cata";
- $fgarantie  = "http://www.confortetvie.fr/fr/achat_confiance/garanties.aspx?utm_source=NL&utm_medium=email&utm_content=garantie&utm_campaign=0515_cata";
- $flivraison = "http://www.confortetvie.fr/fr/achat_confiance/informations-livraison.aspx?utm_source=NL&utm_medium=email&utm_content=livraison&utm_campaign=0515_cata";
- $fpaiement  = "http://www.confortetvie.fr/fr/achat_confiance/paiement-securise.aspx?utm_source=NL&utm_medium=email&utm_content=paiement&utm_campaign=0515_cata";
/ LEGAL
- $modalites   = "http://www.confortetvie.fr/fr/pages/settlement.aspx?utm_source=NL&utm_medium=email&utm_content=garantie&utm_campaign=0515_cata#info-legale-2";
- $cgv   = "http://www.confortetvie.fr/fr/achat_confiance/conditions-generales-de-vente.aspx?&utm_source=NL&utm_medium=email&utm_content=cgv&utm_campaign=0515_cata";
- $contact   = "http://www.confortetvie.fr/fr/confort_et_vous/contact.aspx?val=A&utm_source=NL&utm_medium=email&utm_content=contact&utm_campaign=0515_cata";
- $desabo    = "http://www.confortetvie.fr/fr/animation/DesinscriptionNewsletter.aspx?utm_source=NL&utm_medium=email&utm_content=desabo&utm_campaign=0515_cata";