/ pckX2 + pckX3
- $btntxt = "en savoir +";
/ pckX3
- $pck1x3txt = ["Vernis &quot;Velvet Diamond®&quot;","La manucure esprit bijoux !"];
- $pck2x3txt = ["Lot de 2 paires pantoufles &quot;SPA&quot;","Garnies de tissu éponge, sur un matelassage moelleux."];
- $pck3x3txt = ["Gommes Léone Balsamique : 3 goûts","150 ans de tradition de confiseur !"];
/ pckX2
- $pck1x2txt = ["Mini sac effet tressé","L'effet canné c'est distingué !"];
- $pck2x2txt = ["Meuble organiseur toilette","Grand rangement pour petit coin !"];