/ pckX2 + pckX3
- $btntxt = "en savoir +";
/ pckX2
- $pck1x2txt = ["CALCULATRICE EURO","Euros et Francs mettent du soleil dans vos calculs !"];
- $pck2x2txt = ["TABOURET DE DOUCHE PLIABLE","Prenez votre douche assis."];
/ pckX3
- $pck1x3txt = ["TROTTEURS &ldquo;TARA&rdquo;","Bon maintien et un grand confort du pied pour un bien-être idéal."];
- $pck2x3txt = ["PANTOUFLES &ldquo;SPA&rdquo;","Garnies de tissu éponge, sur un matelassage moelleux."];
- $pck3x3txt = ["SAVON DE MARSEILLE","Comme un parfum de Canebière dans la salle de bains."];