- $code = '39WB'
/ pckX2 + pckX3
- $btntxt = "en savoir +";
/ pckX3
- $pck1x3txt = ['Vernis Velvet Diamond<sup style="font-size: 11px; ">®</sup>',"La manucure esprit bijoux !"];
- $pck2x3txt = ["Gommes Léone ","150 ans de tradition de confiseur !"];
- $pck3x3txt = ["Pantoufles &quot;SPA&quot;","2 paires : rose et bleu"];
/ pckX2
- $pck1x2txt = ["Mini sac effet tressé","L'effet canné c'est distingué !"];
- $pck2x2txt = ["Meuble organiseur toilette","Grand rangement pour petit coin !"];