- $body = 'body {-webkit-text-size-adjust: 90%; -ms-text-size-adjust: 90%; -moz-text-size-adjust: 90%; -o-text-size-adjust: 90%; text-size-adjust: 90%; margin: 0; padding: 0; border: 0; word-wrap: normal; }'+"\n";
- $table = 'table {border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; margin: auto; padding: 0; mso-margin-top-alt: 0px; mso-margin-bottom-alt: 0px; mso-padding-alt: 0px 0px 0px 0px; }'+"\n";
- $tabFL = 'table[align=left] {float: left; }'+"\n";
- $td = 'td {font-size: 0; mso-margin-top-alt: 0px; mso-margin-bottom-alt: 0px; mso-padding-alt: 0px 0px 0px 0px; }'+"\n";
- $td_img = 'td img {display: block; }'+"\n";
- $img = 'img {display: block; line-height: 0; }'+"\n";
- $a = 'a {line-height: normal; }'+"\n";
- $a_img = 'a img {border: 0; }'+"\n";
- $ReadMsgBody = '.ReadMsgBody {width: 100%; }'+"\n";
- $ExternalClass = '.ExternalClass {width: 100%; }'+"\n";
- $ExternalClass_ALL = '.ExternalClass * {line-height: 100%; }'+"\n";
- $a_Tel = 'a[href^="tel:"] {color: inherit; text-decoration: none; }';